/.angular
/.husky
/.vscode
/dist
/node_modules
/.dockerignore
/.editorconfig
**/.eslintrc.json
**/.git*
/.prettier*
/config.json
/db.json
/docker-compose.yml
/Dockerfile
**/jest*
**/*.md
**/*spec.ts
**/*test.ts
**/server.setup.*
