/* You can add global styles to this file, and also import other style files */

body {
  margin: 0;
  padding: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-table {
  width: 100%;
}
.mat-row:nth-child(odd) {
  background-color: #eee;
}
.mat-cell {
  padding: 5px;
}
.mat-header-cell {
  text-align: center;
}
td.mat-cell:first-of-type,
th.mat-header-cell:first-of-type {
  padding-left: 5px;
}
td.mat-cell:last-of-type,
th.mat-header-cell:last-of-type {
  padding-right: 5px;
}
.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
